/*este archivo solo contienen los estilos de dataverse chat*/

.chaty{
   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
    padding: 1%;

    }
  
  .titleChat{
    height:20%;
    width:100%;
    margin: 0;
    text-align: center;
   
    }
  
   
  #leadVocal{ /* main*/
    height:10%;  
    width:74% ;
    margin: 0;
    display: flex;
    flex-direction: row;
    position :relative; /*siosi*/
    z-index: 1;
    background:linear-gradient(145deg,#4446ccc0,#1c148bc0,#110457c0);
   
    }
  .imgChat{
    max-width: 25%;
    height: auto; 
    margin-left:1%;
    position: relative;
    z-index: 5;
      
    }
   
    .singer{
    width: 40%;
    margin-top: 2%;
    margin-left:30% ;
    position: absolute;
    z-index: 1;     
    }
    
    .descrip{
      width: 45%;
      margin-top: 5%;
      margin-left:30% ;
      position: absolute;
      z-index: 2; 
    }

  .messages{
    height:70%;  
    width:70%;
    border: 1px solid #291f85;
   
    padding:2% ;
    background:linear-gradient(145deg,#6f71fcc0,#453ccec0,#2d1a99c0);   
    }
    .chatResponse{
      width:30%;
      padding: 1%;
      margin-left:60%;
      border-radius: 10px  0px 10px  10px;
      background-color: #7a7cf8c0; /* Color de superposición */
    
    }  
    
  #userM{ 
    height:20%;
    width:74%;
    background:linear-gradient(145deg,#6f71fcc0,#453ccec0,#2d1a99c0) ;
    border-color:#060557;
    display:flex;
    align-items: flex-end;
    font-size:22px;
    color: blue; /* Color para el mensaje del usuario */
    font-weight: bold
    
    }

  #userText{
    height:8%;
    width:98%;
    padding: 2%;
    font-size: large;
    border-radius: 1em; 
    background-color: rgb(230, 227, 240);
       
  }
  .btnSend{
    height:50%;
    width:15%; /*ancho*/
    padding: 0.5%;
    background-color: #110770;
    border-color: #31419b;
    border-radius: 1em;
    font-size: 1em;
    color:whitesmoke;
    cursor: pointer; /* Cambia la forma del cursor al pasar sobre el botón  */
    
  }
  .btnSend:hover{
      background-color: #b796d6; 
  }
  



  /*---- vista de la api------------- */
  
.api{
  width: 40%;
  margin:1% ;
  padding: 1%;
  /* border-radius: 4%;*/
  display: grid;
  align-items: center;
  }
form{
  height:60% ;
  margin-bottom: 4%;
  }  
.inputApi{
  width:40% ;
  }